@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    transition: 0.3s ease-in-out;
}

:root {
    --background-color: rgb(249, 250, 251);
    --primary-color: rgb(255, 255, 255);
    --border-color: rgb(232, 228, 236);
    --toggle-color: rgb(229, 231, 235);
    --toggle-hover: rgb(216, 212, 220);
    --input-hover: rgb(243, 244, 246);
    --text-primary-color: rgb(0, 0, 0);
    --text-secondary-color: rgb(75, 85, 99);
    --nav-item-active: rgb(236, 253, 245);
    --nav-item-hover: rgb(243, 244, 246);
    --nav-text-active: rgb(75, 85, 99);
    --text-third-color: rgb(8, 92, 68);
    --toggle-notify: rgb(254, 226, 226);
    --text-notify: rgb(153, 27, 27);
    --button-primary: rgb(45, 106, 79);
    --button-primary-hover: rgb(8, 92, 68);
    --toggle-grey: rgb(243, 244, 246);
    --text-toggle-grey: rgb(31, 41, 55);
    --toggle-green: rgba(220, 252, 231, 255);
    --text-toggle-green: rgb(22, 101, 52);
    --toggle-red: rgba(254, 226, 226, 255);
    --text-toggle-red: rgb(153, 27, 2);
    --toggle-blue: rgba(219, 234, 254, 255);
    --text-toggle-blue: rgb(30, 64, 175)
}


.dark {
    --background-color: rgb(17, 24, 39);
    --primary-color: rgb(31, 41, 55);
    --border-color: rgb(56, 68, 84);
    --toggle-color: rgb(56, 68, 84);
    --toggle-hover: rgb(75, 85, 99);
    --input-hover: rgb(75, 85, 99);
    --text-primary-color: rgb(255, 255, 255);
    --text-secondary-color: rgb(160, 164, 172);
    --nav-item-active: rgb(55, 65, 81);
    --nav-item-hover: rgb(55, 65, 81);
    --nav-text-active: rgb(60, 207, 151);
    --text-third-color: rgb(60, 207, 151);
    --toggle-notify: rgb(153, 27, 27);
    --text-notify: rgb(254, 226, 226);
    --button-primary: rgb(8, 92, 68);
    --button-primary-hover: rgb(45, 106, 79);
    --toggle-grey: rgb(55, 65, 81);
    --text-toggle-grey: rgb(209, 213, 219);
    --toggle-green: rgba(44, 70, 71, 255);
    --text-toggle-green: rgb(134, 239, 172);
    --toggle-red: rgba(60, 38, 47, 255);
    --text-toggle-red: rgb(252, 165, 165);
    --toggle-blue: rgba(31, 47, 80, 255);
    --text-toggle-blue: rgb(147, 197, 253);
}