@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    transition: 0.3s ease-in-out;
}

:root {
    --background-color: rgb(249, 250, 251);
    --primary-color: rgb(255, 255, 255);
    --border-color: rgb(232, 228, 236);
    --toggle-color: rgb(229, 231, 235);
    --toggle-hover: rgb(216, 212, 220);
    --input-hover: rgb(243, 244, 246);
    --text-primary-color: rgb(0, 0, 0);
    --text-secondary-color: rgb(75, 85, 99);
    --nav-item-active: rgb(236, 253, 245);
    --nav-item-hover: rgb(243, 244, 246);
    --nav-text-active: rgb(75, 85, 99);
    --text-third-color: rgb(8, 92, 68);
}


.dark {
    --background-color: rgb(17, 24, 39);
    --primary-color: rgb(31, 41, 55);
    --border-color: rgb(56, 68, 84);
    --toggle-color: rgb(56, 68, 84);
    --toggle-hover: rgb(75, 85, 99);
    --input-hover: rgb(75, 85, 99);
    --text-primary-color: rgb(255, 255, 255);
    --text-secondary-color: rgb(160, 164, 172);
    --nav-item-active: rgb(55, 65, 81);
    --nav-item-hover: rgb(55, 65, 81);
    --nav-text-active: rgb(60, 207, 151);
    --text-third-color: rgb(60, 207, 151);
}