.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 13.9rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.sensorParameters {
    background: var(--primary-color);
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.08);
}

.sensorParameters:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.iconParameter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 2.75rem;
    width: 2.75rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.temp {
    background: rgb(249, 115, 22);
}

.hum {
    background: rgb(59, 130, 246);
}

.soil {
    background: rgb(28, 166, 68);
}

.brigh {
    background: rgb(212, 0, 255);
}

.parameterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.parameterName {
    margin: 0;
    color: var(--text-secondary-color);
    font-weight: 400;
}

.parameterValue {
    padding-top: 0.5rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.value {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    color: var(--text-primary-color);
}

.estimator {
    margin: 0;
}

.secondContainer {
    box-sizing: border-box;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.leftContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 2;
}

.aiReportContainer {
    background: var(--primary-color);
    padding: 1rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.08);
}

.areaTextReport {
    flex: 1;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    background: var(--nav-item-hover);
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
    /* ✅ mantiene padding anche con overflow */
}

.areaTextReport::-webkit-scrollbar {
    display: none;
}

.textReport {
    color: var(--text-secondary-color);
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.loadingSkeleton {
    height: 8rem;
    width: 100%;
    border-radius: 0.25rem;
    background: linear-gradient(to right,
            var(--nav-item-hover) 0%,
            var(--primary-color) 20%,
            var(--nav-item-hover) 40%,
            var(--nav-item-hover) 100%);
    background-size: 2000px 100%;
    animation: shimmer 1.5s infinite linear;
    color: transparent;
    /* nasconde il testo */
}


.sensorReadings {
    background: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.08);
}

.titleContainer {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    color: var(--text-primary-color);
}

.readingsChart {
    margin-top: 1rem;
}

.toggleOptions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.toggleOptions .option {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    cursor: pointer;
    border: 0;
}

.toggleOptions .option:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.toggleOptions .temperature.active {
    background: rgb(249, 115, 22);
}

.toggleOptions .humidityPct.active {
    background: rgb(59, 130, 246);
}

.toggleOptions .rainPct.active {
    background: rgb(28, 166, 68);
}

.toggleOptions .lightPct.active {
    background: rgb(212, 0, 255);
}

.toggleOptions .temperature {
    background: rgba(249, 115, 22, 0.3);
}

.toggleOptions .humidityPct {
    background: rgba(59, 130, 246, 0.3);
}

.toggleOptions .rainPct {
    background: rgba(28, 166, 68, 0.3);
}

.toggleOptions .lightPct {
    background: rgba(212, 0, 255, 0.3);
}

.recentAlerts {
    flex: 1;
    background: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.08);
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notifyAlerts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
    color: var(--text-notify);
    background-color: var(--toggle-notify);
}

.notifyNumber {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
}

.alertList {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.alertList::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.alertItem {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.375rem;
    min-height: 2.8rem;
}

.alertIcon {
    margin-top: 0.1rem;
}

.alertTextContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.alertText {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-primary-color);
}

.alertTime {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--text-secondary-color);
}

.alertStatus {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.75rem;
    color: var(--text-secondary-color);
}

.alertItem.healthy {
    background-color: var(--toggle-green);
}

.alertItem.warning {
    background-color: var(--toggle-yellow);
}

.alertItem.critical {
    background-color: var(--toggle-red);
}

.allAlertsBtn {
    background-color: transparent;
    outline: none;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    color: var(--text-primary-color);
}

.allAlertsBtn:hover {
    background: var(--nav-item-hover);
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
}

.titleTable {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--text-primary-color);
    font-weight: 600;
    font-size: 1.125rem;
}

.header,
.row {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.header div:last-child,
.row div:last-child {
    display: flex;
    justify-content: center;
    /* ← centrato orizzontalmente */
    align-items: center;
    /* ← centrato verticalmente */
}


.row:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.header {
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--text-secondary-color);
}

.row:hover {
    background-color: var(--nav-item-hover);
}

.row:last-child {
    border: 0;
}

.textTitle {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--text-primary-color);
}


.statuStation {
    text-align: center;
    width: fit-content;
    text-transform: capitalize;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
    border-radius: 9999px;
}

.healthy {
    background: var(--toggle-green);
    color: var(--text-toggle-green);
}

.warning {
    background: var(--toggle-yellow);
    color: var(--text-toggle-yellow);
}

.critical {
    background: var(--toggle-red);
    color: var(--text-toggle-red);
}

.typeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 0;
}

.iconType {
    color: rgb(34, 197, 94);
}

.typePlant {
    font-size: 0.875rem;
    text-transform: capitalize;
    color: var(--text-primary-color);
    margin-left: 0.5rem;
}

.toggleSwitch {
    width: 42px;
    height: 24px;
    background-color: #e2e8f0;
    border-radius: 9999px;
    border: none;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toggleSwitch .toggleCircle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 0.3s ease;
}

.toggleSwitch.active {
    background-color: #2f855a;
    /* verde */
}

.toggleSwitch.active .toggleCircle {
    transform: translateX(18px);
}